{% extends 'base_site.html' %}
{% block title %}Home{% endblock title %}

{% block content %}
  <div class="container">
    <ol class="breadcrumb my-4">
      <li class="breadcrumb-item active">Boards</li>
    </ol>

    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Boards</th>
          <th scope="col">Posts</th>
          <th scope="col">Topics</th>
          <th scope="col">Last Post</th>
        </tr>
      </thead>
      <tbody>
        {% for board in boards %}
          <tr>
            <td>
              <a href="{% url 'board_topics' board.pk %}">{{ board.name }}</a> <br/> <small><em>{{ board.description }}</em></small>
            </td>
            <td>0</td>
            <td>0</td>
            <td></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock content %}